<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruddersoft.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.renterList.RenterListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.addRenter.AddRenterActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.room.add.AddRoomActivity"
            android:label="@string/title_activity_add_room"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.detail.RenterActivity"
            android:label="@string/title_activity_renter_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.room.RoomListActivity"
            android:label="@string/title_activity_room_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.detail.RoomDetailActivity"
            android:label="@string/title_activity_room_detail"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>